@model OficinaWeb2.Models.Departamento

@{
    ViewData["Title"] = "Detalhes";
}

<h1>@ViewData["Title"] </h1>

<div>

    <hr />

    <dl class="row">

        <dt class="col-sm-2" style="font-size:small">
            @Html.DisplayNameFor(model => model.NOME)
        </dt>
        <dd class="col-sm-10" style="text-transform:uppercase; font-size:small">
            @Html.DisplayFor(model => model.NOME)
        </dd>       

    </dl>

</div>
<hr />
<div class="btn-group">
    <a style="border-bottom-left-radius:5px;border-top-left-radius:5px;border-color:lightslategray" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Editar</a>
    <a style="border-bottom-right-radius:5px;border-top-right-radius:5px;border-color:lightslategray" class="btn btn-dark" asp-action="Index">Voltar a lista</a>
</div>